@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-border-width {
  animation: border-width 1.5s infinite alternate;
}

@keyframes border-width {
  from {
    width: 10px;
    opacity: 0;
  }
  to {
    width: 80%;
    opacity: 1;
  }
}
