@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  mark {
    @apply bg-primary-100 text-primary-700 rounded-sm ring-1 ring-primary-950/10 shadow-sm shadow-primary-200;
  }
}

@layer utilities {
  .animate-border-width {
    animation: border-width 1.5s infinite alternate;
  }

  @keyframes border-width {
    from {
      width: 10px;
      opacity: 0;
    }
    to {
      width: 80%;
      opacity: 1;
    }
  }
}
